.navbar {
  background-color: #4ea2de;
  padding-left: 50px;
  padding-right: 10px;
}

.foot {
  background-color: #4ea2de;
  position: relative;
  width: 100%;
}

.form {
  padding-bottom: 25px;
}

.login-form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  width: 40%;
}

.script-form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  width: 50%;
}

.signup-form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  width: 40%; 
}

.parallax-class {
  height: 350px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.home-padding {
  margin-top: 50px;
}

.card-class {
  background-color: #4ea2de;
}

.therapist-client-info {
  height: 600px;
  overflow-y: auto;
}

.therapist-client-name {
  margin-bottom: 50px;
}

.client-profile {
  height: 700px;
  margin-top: 25px;
  overflow-y: auto;
}

.start-regimen-button {
  margin-bottom: 15px;
}

.video-exercise-list {
  margin: 0;
}

.exercise-button {
  width: 100%;
  margin-bottom: 18px;
}

.exercise-list-overflow {
  overflow-y: scroll;
  height: 364px;
}

.video-container {
  height: 364px;
}

.button:hover {
  background-color: #42a5f5;
  color: white; 
}

@media only screen and (max-width: 600px) {
  .parallax img {
    max-width: 200%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .parallax img {
    width: 100%;
  }
}

